<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card">
    <div class="row" fxLayoutGap="10px">
      <div>
        <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652_1280.png" width="50px">
      </div>
      <div>
        <h2>John</h2>
        <small>Online</small>
      </div>
      <div class="searchIcon">
        <div *ngIf="Btn" (click)="Btn=!Btn">
          <mat-icon>search</mat-icon>
        </div>
        <div *ngIf="!Btn" fxLayout="row">
          <form autocomplete="off">
            <input matInput type="text" [(ngModel)]="keywords">
          </form>
          <mat-icon (click)="Btn=!Btn">search</mat-icon>
        </div>
      </div>
    </div>
    <mat-card-content>
      <div *ngFor="let msg of messages | filter:keywords ; let even = even; let odd = odd;"
        [ngClass]="{ oddMsg: odd, evenMsg: even }">
        <div [ngClass]="{ odd: odd, even: even}">
          <p>{{msg.message}}</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <form [formGroup]="chatForm" (submit)="submit()" fxLayout="row" autocomplete="off">
        <input class="form-control" formControlName="message" name="message" placeholder="Write a message"
          [value]="message" (change)="(message)" />
        <mat-icon class="sendBtn" (click)="submit()">send</mat-icon>
      </form>
    </mat-card-footer>
  </mat-card>
</div>