.even {
    background-color: #f1f1f1;
    border-radius: 10px;
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    text-align: left;
}

.odd {
    background-color: rgb(173 33 185 / 84%);
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    text-align: right;
    width: max-content;
}

.oddMsg{
    display: flex; 
    flex-flow: row-reverse;
}

.evenMsg{
    display: flex; 
}

.sendBtn{
    position: absolute;
    right: 5px;
    margin-top: 9px;
}

.searchIcon {
    position: absolute;
    right: 20px;
    top: 30px;
}

img{
    border: 2px solid whitesmoke;
    border-radius: 50px;
    margin-left: 15px;
}

.card{
    width: 80%; 
    background-color: ghostwhite;
}

.container{
    padding: 50px 0px 50px 0px;
}

.row{
    margin-bottom: 25px;
}

small{
    position: relative; 
    bottom: 20px;
}